@import 'operator';

.list {
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    height: 100%;
    width: 33%;
    padding: 0 20px;
    overflow: auto;
}
.outItem {
    position: relative;
    @extend %episodeOp;
    cursor: pointer;
}
.playListItem {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 10px 10px 10px 15px;
    margin: 0 0 10px 0;
    overflow: auto;
    cursor: pointer;
    border: 1px solid #e5e5df;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
:global {
    .remove-enter {
        opacity: 0;
        transform:   translate(-250px,0);
        transform: translate3d(-250px,0,0);
    }
    .remove-enter.remove-enter-active {
        opacity: 1;
        transition: opacity 1s ease;
        transform:   translate(0,0);
        transform: translate3d(0,0,0);
        transition-property: transform, opacity;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
    }
    .remove-leave {
        opacity: 1;
        transform:   translate(0,0,0);
        transform: translate3d(0,0,0);
      transition-property: transform, opacity;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
    }
    .remove-leave.remove-leave-active {
        opacity: 0;
        transform:   translate(250px,0);
        transform: translate3d(250px,0,0);
    }
}